*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card{
    width: 350px;
    height: 400px;
    /* background-image: linear-gradient(to top , rgb(27, 27, 151), rgb(180, 72, 180)); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

input::focus{
    outline: none;
}